*.pyc
simulations
node_modules
static
inbox
signal_in
signal_out
*.poly
*.dat
elmerpostprocessparallel
elmerpostprocessserial
triangle
hostfile_*
*.png
*.vtk
*.npy
**/cfd/run155*
cpu_load_data_dir
cpuinfo.txt
