[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.12.1"
scipy = "==0.18.1"
"svg.path" = "==2.2"
Cython = "*"
"PyQt5" = "*"
opencv-python = "*"
opencv-contrib-python = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
