/* Activity Window */

.pane
  margin: 20px
  float: left

  &.lhs
    box-shadow: 5px 5px 5px #ccc
    border: 1px solid black
    border-radius: 10px

  .title
    width: 330px
    border: 1px solid black
    border-radius: 10px
    margin: 0 10px
    padding: 8px 0px
    box-shadow: 5px 5px 5px #ccc

  &.rhs
    width: 355px

    .simulation-view
      width: 330px
      height: 160px
      position: relative
      overflow: hidden
      margin: 10px
      border: 1px solid black
      border-radius: 10px
      box-shadow: 5px 5px 5px #ccc
      z-index: -3

      .simulation-data
        img
          height: 100px

      .simulation-heading
        height: 51px
        width: 332px
        position: relative
        border: 1px solid black
        overflow: hidden
        color: black
        line-height: 50px
        top: -2px
        left: -2px
        z-index: -2

        .right
          float: left
          font-weight: bold
          width: 279px

          .sim-title
            float: left
            height: 40px
            padding-left: 10px

          .progress-indicator-container
            float: left
            height: 10px
            width: 100%
            border-top: 1px solid black

            .progress-indicator
              height: 100%
              background-color: #0fd917

        .avatar-small
          width: 50px
          float: left
          position: relative
          left: 0px
          right: 0px
          top: 0px
          bottom: 0px
          border: none
          border-right: 1px solid black
          border-radius: 0px
          box-shadow: none
