.cluster-schematic {
    border: 1px solid #0f5535;
    margin: 10px;
    padding-top: 25px;
    border-radius: 3px;
    float: left;
}

.cluster-schematic canvas#cluster-schematic-canvas {
    position: absolute;
    z-index: -99
}

.cluster-schematic, .cluster-schematic canvas#cluster-schematic-canvas {
    width: 600px;
    height: 800px;
}

.cluster-schematic .cluster-row {
    clear: both;
}

.cluster-schematic .cluster-core {
    position: relative;
    margin: 15px;
    float: left;
    overflow: hidden;
    background-image: url("cluster-schematic-pi.jpg");
    background-repeat: no-repeat;
    height: 150px;
    width: 115px;
}

.cluster-schematic .cluster-core .progress-gauge .mask {
    background-color: #afa8a2;
    border-left: 1px solid #888484;
}

.cluster-schematic .cluster-core .progress-gauge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 107px;
    height: 20px;

    border: 2px solid #515151;
    border-radius: 8px;

    background: linear-gradient(to right, #1abc9c 0%, #f1c40f 80%, #c0392b 90%, #c0392b 100%);
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.cluster-schematic .cluster-core .progress-gauge span.text {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
}

.avatar-small {
    border-radius: 24px;
    width: 40px;
    position: absolute;
    right: 2px;
    top: 12px;
    border: 2px solid #227b18;
}
