div#leaderboard.column {
    padding: 0px;
}

div.is-scroll {
    height: 100vh;
    overflow-x: hidden;
    overflow-x: auto;
}

div.columns, div.column {
    margin: 0px;
}

div#leaderboard {
    margin: 10px
}

.hidden {
    display: none !important;
}

.is-vertical-centre {
    display: flex;
    align-items: center;
}

.simulation {
    border: solid 2px #aea9a9;
}

.simulation.selected {
    border-color: #46ca0e;
}

div.columns.simulation.selected div.column.ranking {
    background-color: #9aec78;
}

div.columns.simulation div.column.ranking {
    background-color: #eae6e6;
    display: flex;
    align-items: center;
    padding-left: : 10%;
}

div.columns.simulation div.column.ranking h2 {
    font-size: 2em;
}

.simulation-info {
    padding-left: 10px;
}

.cluster-schematic {
    border: 2px solid black;
    margin: 10px;
    border-radius: 3px;
    width: 530px;
    height: 728px;
}

.cluster-schematic .cluster-row {
    clear: both;
}

.cluster-schematic .cluster-core {
    position: relative;
    margin: 15px;
    float: left;
    overflow: hidden;
    background-image: url("single-pi.jpg");
    background-repeat: no-repeat;
    padding: 39px;
    height: 150px;
    width: 100px;
}

.cluster-schematic .cluster-core .progress-padding {
    width: 48px;
    height: 69px;
    position: absolute;
    bottom: 19px;
    right: 23px;
    border: 1px solid #515151;
    border-radius: 5px;
    overflow: hidden;
}

.cluster-schematic .cluster-core .progress-padding .core-on {
    width: 100%;
    border-top: 1px solid #494f49;
}

.cluster-schematic .cluster-core .progress-padding .core-off {
    width: 100%;
    background-color: #e7ece5;
}

.cluster-schematic .cluster-core .progress-padding .percentage-text {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
}
