div#leaderboard.column {
    padding: 0px;
}

div.is-scroll {
    height: 100vh;
    overflow-x: hidden;
    overflow-x: auto;
}

div.columns, div.column {
    margin: 0px;
}

div#leaderboard {
    margin: 10px
}

.hidden {
    display: none !important;
}

.is-vertical-centre {
    display: flex;
    align-items: center;
}

.simulation {
    border: solid 2px #aea9a9;
}

.simulation.selected {
    border-color: #46ca0e;
}

div.columns.simulation.selected div.column.ranking {
    background-color: #9aec78;
}

div.columns.simulation div.column.ranking {
    background-color: #eae6e6;
    display: flex;
    align-items: center;
    padding-left: : 10%;
}

div.columns.simulation div.column.ranking h2 {
    font-size: 2em;
}

.simulation-info {
    padding-left: 10px;
}

/* Activity Window */
.lhs-pane {
    float: left;
}

.rhs-pane {
    float: left;
    width: 900px;
}

.cluster-schematic {
    border: 1px solid #0f5535;
    margin: 10px;
    padding-top: 25px;
    border-radius: 3px;
    float: left;
}

.cluster-schematic canvas#cluster-schematic-canvas {
    position: absolute;
    z-index: -99
}

.cluster-schematic, .cluster-schematic canvas#cluster-schematic-canvas {
    width: 600px;
    height: 800px;
}

.cluster-schematic .cluster-row {
    clear: both;
}

.cluster-schematic .cluster-core {
    position: relative;
    margin: 15px;
    float: left;
    overflow: hidden;
    background-image: url("single-pi.jpg");
    background-repeat: no-repeat;
    padding: 50px;
    height: 150px;
    width: 115px;
}

.cluster-schematic .cluster-core .progress-padding {
    width: 28px;
    height: 69px;
    position: absolute;
    bottom: 19px;
    right: 12px;
    border: 1px solid #515151;
    border-radius: 2px;
    overflow: hidden;
}

.cluster-schematic .cluster-core .progress-padding .gradient {
    width: 100%;
    height: 100%;
    border-top: 1px solid #494f49;
    background: linear-gradient(to bottom, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
}

.cluster-schematic .cluster-core .progress-padding .mask {
    width: 100%;
    background-color: white;
}

.rotate-text
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}
.cluster-schematic .cluster-core .progress-padding .percentage-text {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
}
