[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
matplotlib = "*"
numpy = "*"
pytest = "*"
sqlalchemy = "*"
flask = "*"
vtk = "*"

[dev-packages]

[requires]
python_version = "3.7"
